*{
	box-sizing: border-box;
}

body{
	width:1700px;
	font-size: 16px;
	font-family: arial;
	line-height: 1.4em;
	background: #ececec;
	
	
}

/*-------------------------------------
ANCHURA DEL SITIO
---------------------------------------*/
header{
	background:linear-gradient( to top right, red, yellow);
	position:relative;
	
	border:solid yellow;
	box-shadow: 0px 0px 10px yellow, 0px 0px 20px yellow inset;
}

.contenedor{
	width: 100%;
	max-width: 980px;
	min-width: 200px;

	margin:0 auto;
	

}

/*----------------------------------
encabezado
-------------------------------*/

.encabezado{
	
	overflow: hidden;

}


.logo{
	float:left;
}


.encabezado nav{
	float:right;
	

}

.encabezado nav ul{
	margin:0;
	padding:0;
	list-style: none;
}

.encabezado nav ul li{
	display:inline-block;

}

.encabezado nav ul li a{
	display:block;
	color:red;
	padding: 20px;
}
.encabezado nav ul li a:hover{
	color:black;
}
.presentacion{
	
	background:radial-gradient(5000px at 20% 10%, #000000, #545454);
    border-bottom: 3px solid red
}

.introduccion-presentacion{
	
	display: inline-block;
	margin-bottom: 100px;
}
.introduccion-presentacion h1{
	color:white;
	font-family: monospace;
	font-size: 42px;
	text-shadow: 1px 1px 0px gray;
	text-align: center;
}
.introduccion-presentacion h1 span{
	color:white;
	font-size: 16px;
	font-style: italic;
}


.aprender{
	font-family: verdana;
    font-size: 35px;
    border: 1px solid red;
    padding: 30px;
    background: radial-gradient(5000px at 20% 10%, #000000, white);
    display: block;
    text-align: center;
    margin: 10px 40px 20px;
    color: #ff0000;
    text-decoration: none;
    text-shadow: 1px 1px 0 #fff;
    border-radius: 10px;
    text-shadow: 1px 1px 0px grey;
    box-shadow: 0 8px 0 0 #333333, 0 0 25px 5px #f00;
	
}
a.aprender:hover{
	background: #1e1e1e;
	
}


.presentacion img{
	float:right;

}
.acceso{
	margin-top: -25px;
	font-family:initial;
	background:radial-gradient(5000px at 20% 10%, red, yellow);
	border-radius: 50%;
	text-align: center;
}

.acceso h2{
	color:white;
	font-size: 30px;
	text-shadow: 1px 1px 0 gray;
	text-align: center;
	padding-bottom: 16px;
}
.acceso figure{
	display: inline-block;
	text-align: center;
	width: 24%
}


.acceso h3 a{
	color:white;
	text-shadow: 1px 1px 0 gray;
	font-size: 16px;
	font-family: cursive;
}
.acceso h3 a:hover{
	text-decoration: none;
}

.articulos{
	
	color:red;
	width: 50%;
	display:table-cell;
	padding-right: 30px
}
.articulos h2{
	border-bottom: 3px solid red;
	padding-right:30px;
	padding-bottom: 20px;
}


.complementario{
	color:red;
	font-family: serif;
	
	width: 50%;
	
	display:table-cell;
	padding-left: 200px;
	background:#ececec;
	border-radius: 10px;

}
.complementario a{
	color:red;
	font-family: serif;
}

.bloque-contenido{
	overflow: hidden;
}
.bloque-contenido .contenedor{
	display: table;
}
.articulos img{
	float: left;
	margin-right: 10px;
	border-radius: 10px;
	position:relative;
	top:4px;
}
.complementario ul{
	margin:0;
	padding:0;
	list-style: none;
}
.complementario ul li{
	background: url("../images/stormtrooper.png") no-repeat left center;
	padding-left: 25px;
}
.complementario ul li a{
	color:red:;
	text-decoration: none ;
}
.complementario ul li a:hover{
	text-decoration: underline;
}
.suscripcion{
	overflow: hidden;
	color:white;
	background:radial-gradient(5000px at 20% 10%, red, yellow);
}
.suscripcion h2{
	float:left;
}

.suscripcion form{
	float:right;
	margin-top: 20px;
}
.suscripcion form input[type="submit"]{
	background:linear-gradient( to top right, red, yellow);
	color:white;
	border:1px solid white;
	padding:;
	text-shadow: 1px 1px 0 black;
	box-shadow: 0 -1px 0px 0 #93badc inset;
}
.suscripcion form input[type="submit"]:hover{
	background:red;
}
.piedepagina{
	background:radial-gradient(5000px at 20% 10%, #000000, #545454);
}
.piedepagina .contenedor{
	display:table;
}
.piedepagina small{
	display: table-cell;
	
	color:#fff;
}
.piedepagina nav{
	display:table-cell;
	
	text-align: right;
}
.piedepagina nav ul{
	margin:0;
	padding:0;
	list-style: none;
}
.piedepagina nav ul li{
	display:inline-block;
}
.piedepagina nav ul li a{
	color:white;
	text-decoration: none;
	margin:10px;
}
.piedepagina nav ul li a:hover{
	margin:10px;
	
	text-decoration: underline;
}


.publicidad{
	position:fixed;
	top:45%;
	right: 0;	
}

.publicidad a{
	display: block;
	opacity:0.7;

}
.publicidad a:hover{
	opacity: 1;
}