body{
	font-size: : 16px;
	font-family: monospace;
	background:white; 
}

.contenedor {
	width: 600px;
	margin: 0 auto;
}

header{
	background:linear-gradient( to top right, red, yellow);
	position:relative;
	border-radius: 100px;
	border:solid yellow;
	box-shadow: 0px 0px 10px yellow, 0px 0px 20px yellow inset;
	


}

.logo{
	display: block;
	margin: 0 auto;
}

.otros-logos{
	position:fixed;
	right:100px;
	top:10px;
	opacity: 1;
}
.noticias{
	background:white;
	padding: 40px;
	margin-top: 15px 0px;


}
 .articulo1 .vader{
	color:red;
	/*text-shadow:2px 2px 3px gray;*/
	font-family: verdana;
}
.articulo1{
	background:black;
	color:white;
	border: dashed red;
	border-radius: 5px;
	box-shadow: 2px 2px 10px red,
				-2px -2px 10px red;
	
	
}

.articulo2{
	background:white;
	color:green;
	border: dashed; green;
	border-radius: 5px;
	box-shadow: 2px 2px 10px green,
				-2px 2px 10px green;
}

.articulo2 .yoda{
	color:green;
	/*text-shadow:2px 2px 2px gray;*/
	font-family: verdana;
}
.noticias img{
	float:right;

}
footer{
	background:white;
	
	
}
footer p{
	text-align: center;
	font-style: italic;
	font-weight: bold;

}
.logo1{
	position:relative;
	right: -23%;
    bottom: -48px
}
.logo2{
	position:relative;
	right: -65%;
	bottom: 69px;
}
article {
	padding-bottom: 20px;
	padding-left: 10px;
}
.publicidad{
	background:linear-gradient( red 50%, black 90%, white 10%);
	color: black;
	font-family: arial;
	padding:10px 70px;
	display:inline;
	position:fixed;
	right:-90px;
	bottom:100px;
	transform: rotate(-90deg);
	border-radius: 10px;
	border:solid black;
	box-shadow: /*0px 0px 10px black, 0px 0px 20px black inset;*/
}

